* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #1f1f1f;
  font-family: "Inter", system-ui, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
